<blockquote class="blockquote">
    <p class="mb-0">Hola soy un footer</p><br>
    <footer class="blockquote-footer">Someone famous in
      <cite title="Source Title">Soy footer</cite>
    </footer>
</blockquote>
  