{% extends 'base.html.twig' %}

{% block title %}Formulario Ciudad{% endblock %}

{% block body %}

    <div class="row">
        <h3>Formulario nueva Ciudad</h3>

        <div class="col-md-6">
            {{ form_start(formCiudad) }}

            {{ form_end(formCiudad) }}
        
        </div>
        
    </div>

{% endblock %}
